<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Multer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="text" name="username" placeholder="Name">
            <br><br>
            <input type="file" name="avatar">
            <br><br>
            <button>Submit Form</button>            
        </form>
    </body>
</html>